section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/assets/images/705fd8ab8865f8568d1b0af8c7f9b92c.jpg');
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.logForm {
  width: 512px;
  max-width: 90%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 2;
  direction: rtl;
}
#logIn {
  position: absolute;
  width: 100%;
  /* display: flex; */
  /* flex-direction: column; */
  /* transition: .6s ease-in-out; */
  background-color: #ffffff42;
  /* backdrop-filter: blur(2px); */
  border: 2px solid rgb(255, 255, 255, 0.2);
  border-radius: 40px;
  padding: 20px 30px;
}

/* errors */
form .errors {
  color: red;
}

/* forget password & remember me  */
.forgot-remember {
  display: flex;
  justify-content: space-between; 
  margin-top: 10px;
  font-size: 1.1rem;
}

.forgot-remember .forgot {
  color: var(--primary);
}

.forgot-remember .remember,.remember input {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 1.1rem;
  cursor: pointer;
}

/* form box featuers*/
h2 {
  margin-bottom: 20px;
  font-weight: bolder;
  font-size: 40px;
  text-align: center;
  color: var(--primary);
}

form label {
  display: block;
  margin-bottom: 10px;
  color: var(--primary);
  font-size: 25px;
}

form input {
  background-color: rgba(122, 122, 116, 0.445);
  width: 100%;
  font-size: 17px;
  padding: 10px;
  border-radius: 10px;
}
form .form-control::placeholder {
  color: rgba(0, 0, 0, 0.452);
}
/* entering button */
form button {
  margin-top: 15px;
  border-radius: 10px;
  width: 100%;
  font-size: 23px;
  padding: 10px;
  background-color: var(--primary);
  color: #fff;
  border: none;
  transition-delay: 1s;
}
form button:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.253), rgba(35, 35, 36, 0.212));
  color: #ffff;
}
/* small p links */
.small-p {
  margin-top: 18px;
  font-size: 22px;
}
.small-p p {
  margin-right: 26px;
  text-decoration: none;
  color: black;
  float: right;
}
.small-p a {
  background: none;
  margin-left: 26px;
  float: left;
  text-decoration: underline;
  color: var(--primary);
}
.small-p a:hover {
  color: var(--primary);
}
.small-p a:active {
  color: #0d0e0dab;
}
