@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@700&display=swap');
/* /////////////////////////////////////////////// */
* {
  direction: rtl;
}
nav {
  background-color: var(--biege);
  padding: 2px 10px;
  box-shadow: 1px 2px 5px rgb(190, 184, 184);
  border-radius: 0 0 17px 17px;
  transition: all 0.3s ease;
  z-index: 999;
  width: 100%;
}
.navbar-brand {
  font-weight: bold;
  font-size: 1.9rem;
  color: var(--primary);
  font-family: 'Reem Kufi', 'sans-serif';
}

/* nav links */
.nav-link {
  font-weight: bold;
  margin: 0 20px;
  color: var(--secondary);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.activeLink {
  color: var(--primary);
  font-weight: bold;
  border-bottom: 1.5px solid var(--primary);
}

/* nav in small screens */
@media (max-width: 991px) {
  .navbar-nav {
    padding: 20px 0;
    text-align: center; 
  }
  .nav-item {
    width: 100%; 
    margin: 5px 0;
  }
  .nav-link {
    display: block; 
    width: 90%; 
    margin: 0 auto; 
  }
  .nav-link:hover {
    background-color: rgba(139, 69, 19, 0.1); 
    color: var(--primary) !important;
    transform: scale(1.02);
    border-radius: 10px;
  }
  .logOutBtn {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
  }
}

/* log out btn */
.logout-btn {
  padding: 7px 10px;
  font-size: 15px;
}
