@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@700&display=swap');
/* /////////////////////////////////////////////// */
.hero{
    background-image: url('/assets/images/religious-mat-with-holy-book-bracelet.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;  
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    text-align: right;
    
}
.heroName{
    font-weight: bold;
    font-size: 4.5rem;
    color: var(--primary);
    font-family:'Reem Kufi', 'sans-serif';
}
.buttons{
    margin-top: 30px;
    display: flex;
    justify-content: end;
    gap: 15 px;
}
button{
    margin: auto 10px;
    text-align: center;
    font-size: 22px;
}