* {
  direction: rtl;
}
section {
  padding: 20px;
}
.container {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card {
  background: rgba(255, 255, 255, 0.959);
  border-radius: 16px;
  border: 1.5px solid rgba(30, 86, 49, 0.35);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  padding: 22px 29px;
  margin: 20px;
}
h2 {
  color: var(--primary);
}
.container h3 {
  color: var(--secondary);
  font-weight: bold;
}

/* form */
form{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* submit exam btn */
.finish-btn {
  font-size: 20px;
  margin: auto;
  width: fit-content;
}
.finish-btn:hover i {
  color: var(--primary);
  animation: fa-flip 1s;
}
.finish-btn:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
.finish-btn:hover:disabled {
  opacity: 0.6;
  background: var(--primary);
  color: var(--biege);
}
