section {
  min-height: 100vh;  
  background-image: url('/assets/images/10.jpg'); 
  background-size: cover;   
  /* background-position: center; */
  display: flex;
  justify-content: center;  
  align-items: center;   
  width: 100%;
  direction: rtl;
}

.secContent {
  text-align: center;  
  font-size: 30px;  
}

/* header */
h2{
    color: var(--text-color);
}
h2 span{
    color: var(--secondary);
}

/* buttons */
.topBtns {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin: 20px 0;
}
/* log out btn */
.logOutBtn {
  margin-top: 20px;
  
}
.logOutBtn button{
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
}

