
section {
  min-height: 100vh;  
  background-image: url('/assets/images/10.jpg'); 
  background-size: cover;   
  background-position: center ;
  /* background-attachment: scroll; */
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;  
  align-items: center;   
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  direction: rtl;
  padding: 20px;
}

.secContent {
  text-align: center;  
  font-size: 30px;  
}

/* header */
h2{
    color: var(--text-color);
}
h2 span{
    color: var(--secondary);
    font-weight: bold;
}

/* buttons */
.topBtns {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin: 20px 0;
  font-size: 25px;
}
/* log out btn */
.logOutBtn {
  margin-top: 20px;
  display: flex;  
  justify-content: center;
}
 button{
    font-size: 20px;
    padding: 10px 20px;
    align-items: center;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 10px;
}

