* {
  direction: rtl;
}
section{
    background-image: url('/assets/images/a.jpg');
    background-position: center;
    background-attachment: fixed;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 30px;
  max-width: 900px;
  margin: auto;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.959);
  padding: 22px 26px;
  border: none;
  border-radius: 14px;
  border-right: 8px solid var(--primary);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.15);
}

.cardTitle {
  display: flex;
  margin: 20px;
  gap: 10px;
}
.cardTitle h3 {
  font-size: 20px;
  color: var(--text-dark);
}
.cardTitle h4 {
  color: var(--secondary);
}
button {
  font-size: 20px;
}
