* {
  direction: rtl;
}
section {
  padding: 20px;
}
.container {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card {
  background: rgba(255, 255, 255, 0.959);
  border-radius: 16px;
  border: 1.5px solid rgba(30, 86, 49, 0.35);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  padding: 22px 29px;
  margin: 20px;
}
h2 {
  color: var(--primary);
}
.container h3 {
  color: var(--secondary);
  font-weight: bold;
}

/* form */
form{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
form h4{
    color: var(--primary);
}
form h4 span{
    color: var(--secondary);
    font-weight: bold;
}
form .qOptions{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* submit exam btn */
.finish-btn {
  font-size: 20px;
  margin: auto;
  width: fit-content;
}
.finish-btn:hover i {
  color: var(--primary);
  animation: fa-beat-fade 1s;
}
.finish-btn:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
.finish-btn:hover:disabled {
  opacity: 0.6;
  background: var(--primary);
  color: var(--biege);
  animation: none;
}
.finish-btn:hover:disabled i {
  color: var(--biege);
  animation: none 1s;
}


/* result btns */
.resultBtns{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.viewResultBtn{
    margin: auto;
}
.resultBtns h2{
    font-size: 18px;
    color: var(--text-muted);
    text-align: center;
    margin-top: 15px;
}