/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap');

body {
  background-color: #F8F3E8 !important;
  font-family: "Noto Kufi Arabic", sans-serif !important;
}
:root {
  --primary: #1e5631;
  --secondary: #977129;
  --biege: #ebd5a9;
  --bg-light: #f7f1e3;
  --bg-white: #ffffff;
  --text-color: #1e2b23;
  --text-dark: #2e2e2e;
  --text-muted: #777;
  --border-radius: 12px;
}
.btn-main {
  background: var(--primary);
  color: var(--biege);
  border: none;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn-main:hover {
    background:var(--biege) ;
    color: var(--text-color);
}

.logout-btn{
    font-size: 20px;
    padding: 10px 20px;
    align-items: center;
    border: none;
    border-radius: 10px;
    background-color: rgb(211, 17, 17);
    color: var(--bg-light);
}
.logout-btn:hover{
  background-color: rgb(241, 55, 55);
}
