/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@400;600;700&display=swap');

body {
  background-color: #F8F3E8 !important;
}
:root {
  --primary: #1e5631;
  --secondary: #c9a86a;
  --biege: #ebd5a9;
  --bg-light: #f7f1e3;
  --bg-white: #ffffff;
  --text-color: #1e2b23;
  --text-dark: #2e2e2e;
  --text-muted: #777;
  --border-radius: 12px;
}
.btn-main {
  background: var(--secondary);
  color: var(--primary);
  border: none;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: var(--border-radius);
  transition: 0.3s;
}
.btn-main:hover {
    background:var(--biege) ;
}
